body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.flex-container{
    display: flex;
}

.flex-item{
    padding: 20px;
    margin: 20px;
}

#card-name {
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

#desc{
    background-color: #E5E5E5;
    border-radius: 10px;
}

#prof-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 60px;
}

.socmed{
    width: 40px;
    height: 40px;
}

a{
    padding: 18px;
}

p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
}